@import url('https://fonts.googleapis.com/css2?família=Roboto:wght@400;700&display=swap');

.navbar{
    background-color: #ff9b7d;
    text-align: center;
}

#cabecalho .nav .nav-link.active{
    background-color: #fae6c8;
    color: black;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}

#cabecalho .nav .nav-link{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
    border: none;
    font-size: 25px;
}
#menu-navegacao{
    margin-top: 10px;
}

.container .row img{
    margin-top: -100px;
    
}

.section title{
    font-family: "Roboto", sans-serif;
}

.section-title span{
    color: #c92f01;
}

#sobre-o-restaurante{
    background-color: #ffe8e6;
}

#eventos img{
    margin-top: -60px;
}

#eventos h3{
    margin-top: -60px;
}

#eventos i{
    font-size: 25px;
}
#cardapio button{
    color: black;
}

.nav-cardapio .nav-link.active{
    background-color: #ff9b7d;
}

.nav-cardapio .nav-link:hover{
    color: #ff8d6a;
}

#cardapio img{
    width: 300px;
    margin-top: -70px;
    padding: 20px;
    margin-left: -35px;
}
#cardapio h5{
    margin-top: -70px;
    margin-left: 10px;
}
#cardapio p{
    margin-top: -10px;
    margin-left: 10px;
}
#cardapio .agua{
    margin-top: -96px;
}
#cardapio .h5-agua{
    margin-top: -95px;
}
#cardapio .h5-caldo{
    margin-top: -80px;
}

#cardapio .drink{
    margin-top: -73px;
}

#cardapio .h5-drink{
    margin-top: -75px;
}

#cardapio .sushi-2{
    margin-top: -95px;
}

#cardapio .h5-sushi-2{
    margin-top: -95px;
}

#fale-conosco i{
    color: #ff6637;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

#fale-conosco button{
    background-color: #c92f01;
    color: white;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 380px;
    }
}